.button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  background: #4e75ff;

  font-family: 'Montserrat', sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.button-more {
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;

  background: #4e75ff;

  font-family: 'Montserrat', sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.button:hover,
.button-more:hover {
  background: #6c8cff;
}

.loading {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
}

.div-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 36px;
}

.dnone {
  display: none;
}
