.input {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  height: 40px;

  background: #fff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;

  padding-left: 16px;
}

.input:hover {
  border: 1px solid #000;
}

.input:focus {
  border: 1px solid #4e75ff;
}
